body{margin:0; padding:0; background-color:#fafafa !important;}
.paperlogo{
    width: 40px; 
    height: 40px; 
    margin-top: 12px; 
    position: absolute;
}
.titleLogo{
    color:white;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    margin-top:11px;
    margin-left:50px;
}
.txttruncatebig{
    font-size: 14px;
    position: absolute;
    margin-top:16px;
    margin-left:5px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    color:white;
}
.txttruncate{
    font-size: 12px;
    position: absolute;
    margin-top:32px;
    margin-left:5px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    color:white;
}
.contentContainerMain{
    width:100%;
    max-width: 100%;
    position: absolute;
    padding-top: 73px;
    background-color:#fafafa;
}
.conMain{
    padding: 0px 7.5px 0px 7.5px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.paperCon{
    width: 100%;
    margin: 15px 0 10px 0;
    position: relative;
}
.stretchtxt{
    font-size: 23.5px;
    padding: 0;
    margin: 0;
    margin-top:-1px;
}
.txtdate{
    margin: 0;
    padding: 0;
    margin-top: -10px;
}
.primarytxt{
    color:#757575;
}
.truncate{
    font-size: 14px;
    position: absolute;
    margin-top:15px;
    margin-left:5px;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.centered{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.prodImage{
    height: 200px;
    width: 100%;
}
.prodDesc{
    height:64px;
}
.pricepts{
    position:absolute;
    float:right;
    width: 50px;
    background-color: white;
}
.headroom {
  top: 0;
  left: 0;
  right: 0;
  height: 60px !important;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 0ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-64px) !important;
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.loadParent{
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
}
.loadChild{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.FloatingbtnCust{
    position: fixed !important;
    bottom: 4%;
    right: 3%;
    z-index: 99 !important;
}
@media screen and (max-width: 769px) {
    .paperlogo{
        margin-top: 13px; 
    }
    .titleLogo{
        margin-top:11.5px;
    }
}