@import url('https://fonts.googleapis.com/css?family=Roboto');
body{margin:0; padding:0; background-color:#fafafa;}
.body{position:absolute; width: 100%; height:100%;}
.robot{
font-family: 'Roboto' !important;
}
.logindivmanual
{
	width: 450px;
    height: 1100px;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:-10%; bottom:0;
    margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
	max-height:210%;
    border-radius: 2px;

    animation: 0.8s ease-out 0s 1 slideInFromTop;
}

.contentmanual{
    background-color: white;
    width: 100%;
    height: 730px;
    position: absolute;
    bottom: 0px;
    margin-bottom: 50px;

    -webkit-box-shadow: 0px 5px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 5px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 2px 3px 2px #ccc; 
}

.childcontentmanual{
    background-color: white;
    height:730px;
    padding-right:50px; 
    padding-left:50px;
    margin-bottom: 50px;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.logo{
    position: absolute;
    margin-top:0px;
    border-radius:50%;
    border:5px solid white;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 1px 1px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 1px 1px 0px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 1px 1px 0px #ccc; 
    

}

.blockdiv{
    display: inline-block;
    width: 100%;
    margin: 1em;
    margin-left:auto;
    margin-right:auto;
}

.right{
    float:right;
}

.bluetxts{
    color:#2196F3;
}

.forgotten{
    color:#9e9e9e;
    text-decoration: none;
    font-size:12px;
    cursor:pointer;
    position:relative;
    float:right;
}

.forgotten:hover {
    text-decoration: underline;
}

.inline{
    display:inline;
}

.fix{
    margin-bottom:-100px;
    font-size: 14px;
    width:50px;
}
.blk{
    width:100%;
    display:inline-block;
}
.fix2{
    float:right;
    margin-top:-13px;
}

.divid{
    width:170px;
    display:inline-block;
}

.btncenter{
    width:100%;
    margin-top:15px;
}

.divmargin{
    margin-top:65px;
}

.divmargins{
    margin-top:60px;
}

.fixicon{
    width:32px !important;
    height:24px !important;
    margin-top:-2px;
}

.checkboxfix{
    width:100%;
}

.divnew{
    width:100%;
    margin-top:-35px;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width: 767px) {
    .logindivmanual{
         width:100%;
         position: relative;
         height: 800px !important;
         top:0;
    }
    .blockdiv{
        width: 100% !important;
        height: 320px;
        margin-top: 70px;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;

    }
    .divmargin{
        margin-top:20px;
    }
    .childcontentmanual{
        background-color: white;
        padding-right:30px; 
        padding-left:30px; 
        height: 100vh !important;
        margin-bottom: 0px;
    }
    .contentmanual{
        margin-bottom: 0px;
    }
    .body{
        background-color: white !important;
    }
    .divnew{
        width:100%;
    }
    .content{
        margin-bottom: 0px;
    }

}
@media screen and (max-height: 600px) {
    .logindiv{
        position: relative;
        top:0;
    }
}


